<%= form_for(@task, :remote => true, :html => {:class => 'form-horizontal'}) do |f| %>
  <div class="control-group">
      <%= f.text_field :name %>
      <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>